
<header>

    <article>
        <div class="container text-center p-3 mb-5">
            <div class="row">
                <div class="col 6">
                    <%= image_tag 'mirna.jpg' %>
                </div>
                <div class="col 6">
                <h1>Mi Perfil</h1>
                    <h2>MIRNA PARRA</h2>
                    <h3>PROGRAMADORA, PERIODISTA Y EDUCADORA</h3>
                    <h4>Desarrolladora Front End, Programadora, Periodista, Educadora y Locutora, postulando a cargos que me permitan aportar mis conocimientos profesionales y mi experiencia, y así contribuir a la solución de necesidades de desarrollo de la empresa o instituciòn, en la satisfacción del cliente y al avance de la sociedad.
                    </h4>                   
                </div>
            </div>
        </div>
    </article>
</header>   

<article class: 'text-decoration'>
    <div class="container text-center p-3 mb-5">
        <div class="row">            
            <div class="col 3">
                <h2>Formación Universitaria</h2>
                <h5>Tres carreras cursadas en Venezuela</h5>
                <ul>
                    <li>Licenciada en Comunicaciòn Social egresada de la Universidad del Zulia, en 1987</li>                
                    <li>Licenciada en Educaciòn Integral egresada de la Universidad Nacional Abierta, en 2005</li>                    
                    <li>Locutora, egresada de la Universidad Francisco de Miranda, en 2015</li>
                </ul>
            </div>
                
            <div class= "col 3">
                <h2>Formaciòn en Tecnología</h2>
                    <h5>Dos Bootcamps cursados en Chile:</h5>
                    <ul>
                        <li>Desarrolladora Front End capacitada en el Bootcamp de Sence-Talento Digital-Edutecno-Ecamp, en 2021</li>                                          
                        <li>Desarrolladora en Ruby on Rail para Emprendimientos de tipo Startup capacitada en Sence-Talento Digital-Inforcap, 2023</li>
                    </ul>   
            </div>   
                    
            <div class="col 3">
                <h2>Experiencia Laboral</h2>
                <h5>32 años de experiencia laboral</h5></p>
                <ul>
                    <li>Desarrolladora Front End Free Lance, desde hace 2 años</li>               
                    <li>Jefe de Relaciones Institucionales y Prensa en Policìa de Falcòn, Venezuela, durante 26 años</li>
                    <li>Comunicadora Social en Gobernaciòn de Falcòn, Venezuela, durante 6 años</li>
                    <li>Periodista en el Diario La Mañana del Estado Falcòn, Venezuela, durane 3 años</li>                   
                </ul>
            </div>
            
            <div class="col-md-3">
                <h2>Habilidades y Conocimientos</h2>  
                <ul>          
                    <li>Comunicación Social y face to face</li>
                    <li>Pedagogía</li>
                    <li>Competencia Lingüística y Comunicacional</li> 
                    <li>Capacidad de Análisis y Aprendizaje </li>  
                    <li>Trabajo en equipo</li>        
                    <li>Inteligencia Emocional</li>
                    <li>Programación, Base de Datos</li>             
                    <li>Compromiso</li>        
                    <li>Empatía</li>
                    <li>Creatividad</li>                                     
                </ul>
            </div>
        </div>
    </div>
</article>

    