<h1> PROYECTOS</h1>
<div class="row">  
  <div class="col-md-6 p-5">
    <div class="card">
        <%= image_tag 'imagen1.jpg' %>
        <div class="card-body">
            <h5 class="card-title">Proyecto 1:</h5>
            <h3>VIAJES CHILE</h3>
            <p class="card-text">Proyecto para la agencia "Viajes Chile", la cual solició la creación de su landing page con un diseño atractivo e innovador.</p>
        </div>
    </div>
  </div>

  <div class="col-md-6 p-5">
    <div class="card">
        <%= image_tag 'imagen1.jpg' %>
        <div class="card-body">
            <h5 class="card-title">Proyecto 2</h5>
            <p class="card-text">Descripción del proyecto 3.</p>
        </div>
    </div>
  </div>
</div>

<div class="row">  
  <div class="col-md-6 p-5">
    <div class="card">
        <%= image_tag 'imagen1.jpg' %>
        <div class="card-body">
            <h5 class="card-title">Proyecto 3</h5>
            <p class="card-text">Descripción del proyecto 2.</p>
        </div>
    </div>
  </div>

  <div class="col-md-6 p-5">
    <div class="card">
        <%= image_tag 'imagen1.jpg' %>
        <div class="card-body">
            <h5 class="card-title">Proyecto 4</h5>
            <p class="card-text">Descripción del proyecto 3.</p>
        </div>
    </div>
  </div>
</div>
